*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Epilogue;
}
.container{
    width: 100%;
    height: auto;
    padding: 2% 5%;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
    
}
a{
    text-decoration: none;
    font-weight: 700;
    color: #00000080;
}
.line3{
    display: none;
}
/* block-1 */
.block1{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.text1{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0;
}
.text1 h5{
    font-size: 20px;
    font-weight: 400;
    color: #2D2D2D;
    width:60%;
    line-height: 27px;
}
.text1 h1{
    font-size: 100px;
    color: #2D2D2D;
}
.foto1{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: end;
    position: relative;
}
.left{
    position: absolute;
    bottom: 40px;
    left: 200px;
}
.right{
    position: absolute;
    right: -23px;
    top: -10px;
    margin: auto;
}
/* block-2 */
.block2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 30px 0;
}
/* block-3 */
.block3{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.card3{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
align-items: center;
gap: 50px;
text-align: center;
}
.card3 h5{
    width: 72%;
    font-size: 20px;
    line-height: 27px;
    color: #2D2D2D;
    font-weight: 400;
}
.card3 h2{
    font-weight: 500;
}
/* block-4 */
.block4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.text4{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px 0;
}
.foto4{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.card4{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card4 h3{
    font-size: 23px;
    color: #2D2D2D;
}
.card4 img{
    width: 100%;
}
.card4 span{
    color: #6FBFF9;
    font-weight: 500;
}
.card4 h4{
    color: #FF6250;
    font-weight: 400;
    display: flex;
    gap: 30px;
}
.span2{
    color: #009379;
    font-weight: 500;
}
/* block-5 */
.block5{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.text5{
    width: 50%;
    height: 50%;
    padding: 40px 0 0 0;
}
.text5 h1{
    color: #2D2D2D;
    margin-bottom: 40px;
}
.text5 p{
    width: 50%;
    color: #2D2D2D;
    line-height: 27px;
    font-size: 17px;

}


.foto5{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0 0 80px 0;

}
input{
    width: 90%;
    height: 70px;
    background-color: #DFDFDF;
    border: none;
    padding: 0 30px;
    outline: none;
}
textarea{
    width: 90%;
    height: 196px;
    background-color: #DFDFDF;
    padding: 30px;
    color: #2D2D2D80;
    font-size: 17px;
    outline: none;
}
button{
    padding: 25px 70px;
    background-color: #2D2D2D;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
/* footer */
footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #2D2D2D;
}
.footer-text{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    padding: 20px 70px;
}
.footer-ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-ul a{
    color: #FFFFFF80;
}

.footer-foto{
    width: 70%;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;

}

.footer-foto-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}
.footer-foto-ul a{
    color: #FFFFFF80;
}
.footer-body{
    display: flex;
    align-items: center;
    gap: 240px;
    flex-wrap: wrap;
}
.silka{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.black{
    color: #2d2d2d;
}











@media screen and (max-width:480px){
    ul{
        display: none;
    }
    .line3{
        display: block;
        width: 50px;
        cursor: pointer;
    }
    .block1{
        gap: 20px;
        margin-top: 30px;
    }
    .text1{
        width: 100%;
        text-align: center;
    }
    .text1 h5{
        width: 100%;
    }
    .foto1{
        width: 100%;
    }
    .home{
        width: 100%;
    }
    .text1 h1{
        font-size: 90px;
    }
    .right{
        right: -18px;
        width: 100px;
    }
    .left{
        width: 100px;
        left: -20px;
    }
    .block2{
        gap: 10px;
    }
    .google{
        width: 25%;
        height: auto;
    }
    .google:nth-child(4){
        width:  60px;
    }
    .block3{
        gap: 20px;
        
    }
    .card3{
        width: 100%;
    }
    .card4{
        width: 100%;
       
    }
    .block5{
        text-align: center;
        gap: 30px;
        margin-top: 40px;
    }
    .text5{
        width: 100%;
    }
    .text5 p{
        width: 100%;
    }
    .foto5{
        width: 100%;
        align-items: center;
    }
    input{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .footer-text{
        width: 100%;
        align-items: center;
    }
    .footer-foto{
        width: 100%;
        
    }
    .footer-foto-ul{
        gap: 50px;
        padding: 10px;
    }
    .footer-body{
        gap: 20px;
        justify-content: center;
    }
    .footer-ul{
        flex-direction: row;
        gap: 40px;
        flex-wrap: wrap;
    }
   
   

}






@media (min-width:480px) and (max-width:960px){
    ul{
        display: none;
    }
    .line3{
        display: block;
        width: 50px;
        cursor: pointer;
    }
    .block1{
        gap: 20px;
        margin-top: 30px;
    }
    .text1{
        width: 100%;
        text-align: center;
    }
    .text1 h5{
        width: 100%;
    }
    .foto1{
        width: 100%;
    }
    .home{
        width: 100%;
    }
    .text1 h1{
        font-size: 90px;
    }
    .right{
        right: -22px;
        top: -29px;
        width: 250px;
    }
    .left{
        width: 200px;
        left: -30px;
    }
    .block2{
        gap: 10px;
    }
    .google{
        width: 25%;
        height: auto;
    }
    .block3{
        gap: 20px;
        
    }
    .card3{
        width: 100%;
    }
    .card4{
        width: 44%;
       
    }
    .block5{
        text-align: center;
        gap: 30px;
        margin-top: 40px;
    }
    .text5{
        width: 100%;
    }
    .text5 p{
        width: 100%;
    }
    .foto5{
        width: 100%;
        align-items: center;
    }
    input{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .footer-text{
        width: 100%;
        align-items: center;
    }
    .footer-foto{
        width: 100%;
        
    }
    .footer-foto-ul{
        gap: 50px;
        padding: 10px;
    }
    .footer-body{
        gap: 20px;
        justify-content: center;
    }
    .footer-ul{
        flex-direction: row;
        gap: 40px;
        flex-wrap: wrap;
    }
}